.Default {
  text-align: center;
  font-size: 0;
  line-height: 1;
}

.WoodPanel {
  text-align: center;
  font-size: 0;
  line-height: 1;
  background-image: url("./media/wood-panel.png");
  background-repeat: repeat;
  z-index: -50;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
}

.Stone {
  text-align: center;
  font-size: 0;
  line-height: 1;
  background-image: url("./media/stone.png");
  background-repeat: repeat;
}

.leftPage {
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  background-image: url("./media/book/left-page.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.rightPage {
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  background-image: url("./media/book/right-page.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

@font-face {
  font-family: 'AlbertText';
  src: url(./fonts/AlbertText-Bold.ttf);
}
